# https://viblo.asia/p/la-lap-trinh-vien-ban-da-tung-nghe-noi-den-editorconfig-E375z63W5GW

root = true

[*]
# Các thuộc tính cho mọi file
indent_size = 2

[*.{js,ts}]
# Các thuộc tính cho file .js và .ts
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
