# https://viblo.asia/p/la-lap-trinh-vien-ban-da-tung-nghe-noi-den-editorconfig-E375z63W5GW

root = true

[*]
# Các thuộc tính cho mọi file
indent_size = 4

[*.{js,ts}]
# Các thuộc tính cho file .js và .ts
indent_size = 2
